body
{
	font-family: 'Source code pro', Calibri, serif;
	margin: 0px;
	padding: 0px;
	background-color: grey;
}

nav
{
	width: 100%;
	background-color: #424558; 
}

nav ul
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav li 
{
	list-style-type: none;
	float: left; 
}

nav a
{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
}

.menu-h:hover
{
	border-top: 5px solid #e44d26;
	background-color: RGBa(000, 112, 192, 0.15);
}

.menu-c:hover
{
	border-top: 5px solid #e44d26;
	background-color: RGBa(000, 112, 192, 0.15);
}

.menu-b:hover
{
	border-top: 5px solid #e44d26;
	background-color: RGBa(000, 112, 192, 0.15);
}

.menu-e:hover
{
	border-top: 5px solid #e44d26;
	background-color: RGBa(000, 112, 192, 0.15);

}

nav li:hover a
{
	padding: 15px 30px 20px 30px;
}

.table
{
	display: table;
	margin: 0 auto;
}

.azerty
{
	margin: 20px auto;
	width: 80%;
	padding: 15px;
	border: 10px solid #0D8;
}

.p32
{
	border: 3px solid cyan;
	padding: 15px;
	width: 60%;
	margin: 0px auto;
	text-align: center;
}

.c23
{
	width: 800px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
}